/* COLORS */
$backgroundColor: #ffffff;
$color: #4a606f;
$lightColor: #dddddd;
$selectionColor: #eeeeee;
$primaryActionColor: #00aadd;
$secondaryActionColor: #00aadd;

$lineHeight: 1.5em;
$smallLineHeight: 1.1em;

$spacing: 12px;
$borderRadius: 5px;