.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.img {
	margin: 0 auto $spacing auto;
	text-align: center;
	overflow: hidden;
	
	img {
		display: inline-block;
		max-width: 80%;
		max-height: 15em;
		height: auto;
	}
	
	span {
		display: block;
		margin: $spacing/2 0 0 0;
		font-size: 0.81em;
		line-height: 1.3em;
		overflow: hidden;
	}
}

@include respond-to-md {
	.img {
		max-width: 50%;
		padding: $spacing/2;
		border: 1px solid $lightColor;
		text-align: left;
		margin: 0 0 $spacing/2 $spacing/2;
		float: right;
		clear: both;
		
		img {
			margin: 0 auto;
			display: block;
			max-width: 100%;
		}
	}
}

@include respond-to-lg {
	.img {
		max-width: 40%;
		
		img {
			max-height: 17em;
		}
	}
}

@include respond-to-xl {
	.img img {
		max-height: 25em;
	}
}

.img-fill {
	display: block;
	max-width: 100%;
	height: auto;
}

.spacer {
	margin: $spacing;
}